//dark mode
$bg-dark-color: #020c1d;
$primary-color: #0d6efd;
$text-dark-primary: #fff;
$text-dark-secondary: rgba(255, 255, 255, 0.7);
$box-dark-color: #182438;
$footer-dark-color: #00070e;
$btn-dark-hover: #000;

//light mode
$bg-light-color: #eee;
$primary-color: #0d6efd;
$text-light-primary: rgba(0, 0, 0, 0.87);
$text-light-secondary: rgba(0, 0, 0, 0.6);
$box-light-color: #fff;
$footer-light-color: #fff;
$btn-light-hover: #fff;
