.project-card {
  background-color: var(--boxColor);
  width: 50%;
  margin: 0 auto;
  color: var(--textColor);
  position: relative;
  visibility: hidden;

  .card-img {
    width: 100%;
  }

  .card-text {
    margin-top: 20px;
    color: var(--textSecondary);
  }
}

@media only screen and (min-width: 280px) and (max-width: 400px) {
  .project-card {
    width: 90%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .project-card {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .project-card {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .project-card {
    width: 80%;
  }
}
